<section{{ with .Get "class" }} class="{{.}}"{{ end }}>
	<h2{{ with .Get "anchor" }} id="{{.}}"{{ end }}>{{ .Get "title" }}</h2>
	<!--
		Hugo is stupid and removes the p tag if it's only one block so add a block,
		markdownify, then remove the block to work around it.
		See https://github.com/gohugoio/hugo/issues/5975
	-->
	{{ printf "%s\n\n[eof]" .Inner | markdownify | strings.TrimSuffix "<p>[eof]</p>\n" | safeHTML }}
</section>
